@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Rubik", sans-serif;
}

.scroll-container {
  max-height: 300px;
  overflow-y: auto;
}
/* Define scrollbar styles */
.scroll-container::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.scroll-container::-webkit-scrollbar-track {
  background: #1A1A1A; /* Light grey */
}

/* Handle */
.scroll-container::-webkit-scrollbar-thumb {
  background: #E0E0E0; /* Dark grey */
  border-radius: 5px;
}

/* Handle on hover */
.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #555; /* Black */
}