@page "/counter"
@using compass.Services
@inject IPostService postService;

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        postService.GetPost("6541143c944ce1e1726395b0");
        currentCount++;
    }
}
